/* CSS Kommentar */
body {
    width: 75%;
    max-width: 1200px;
    margin: 1vw auto;
    background: rgba(85, 85, 85, 0.9);
    border-radius: 10px;
    padding: 1vw;
	color: #DDCCAA;
    }

a:active {
    color:#9D0000;
    }


a, a:visited{
    color: inherit;
    }
a:hover {
    color: #9D0000;
    }

.label {
	display: inline-block;
	width: 30%;
	min-width: 150px;
	}
	
.ueberschrift {
	text-align: center;
	
	}
.youtubeembed {
	margin: 0 auto 1vw auto;
	display: block;
	}
	
html {
    background-image: url("hintergrund.jpg");
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
    }
	
.text {
	text-align:center;
	}
	
.hintergrund {
    background-color: #9D0000;
    padding: 1px 3px;
    color: white;
    }

.meineliste {
    margin: 0 auto;
    width: max-content;
    }
	
.impressum {
	text-align:left;
	}

input {
    border: 1px solid black;
    margin-bottom: 3px;
    padding: 1px 3px;
    }

textarea, input[type=text], input[type=email], input[type=password], input[type=date], input[type=checkbox] {
    border-radius: 10px;
    background: #DDCCAA;
    }

.footer {
	text-align: center;
    color: #DDCCAA;
	}
	
input[type=submit] {
    border-radius: 10px;
    background: #9D0000;
    color: white;
    }

        